<div class="row">
    <div class="col-md-3">
        <table class="table table-hover" style="border: 1px solid gray;">
            <thead>
                <tr><th>ジャンル検索</th></tr>
            </thead>      
            <tbody>
                <% Item.categories.keys.each do |category| %>
                    <tr><td><%= link_to category, items_path %></td></tr>
                <% end %>
            </tbody>
        </table>
    </div>
    <div class="col-md-7">
        <h1>商品一覧</h1>
        
        <%= will_paginate %>
        
        <% @items.each do |item| %>
            <div class="recommend-item">
                <%= link_to image_tag(item.image, size: "100x100"), item_path(item) %>
                <%= link_to item.name, item_path(item) %>
                ¥<%= item.price %>
            </div>    
        <% end %>
    </div>
</div>